In [267]:
import pandas as pd

In [268]:
c_2015 = pd.read_csv('combine_2015.csv')

In [269]:
import numpy as np
import matplotlib.pyplot as plt

In [270]:
c_2015

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Ameer Abdullah\AbduAm00,RB,Nebraska,College Stats,5-9,205,4.60,42.5,24.0,130.0,6.79,3.95,Detroit Lions / 2nd / 54th pick / 2015
1,Nelson Agholor\AghoNe00,WR,USC,College Stats,6-0,198,4.42,NaN,12.0,NaN,NaN,NaN,Philadelphia Eagles / 1st / 20th pick / 2015
2,Jay Ajayi\AjayJa00,RB,Boise St.,College Stats,6-0,221,4.57,39.0,19.0,121.0,7.10,4.10,Miami Dolphins / 5th / 149th pick / 2015
3,Kwon Alexander\AlexKw00,OLB,LSU,College Stats,6-1,227,4.55,36.0,24.0,121.0,7.14,4.20,Tampa Bay Buccaneers / 4th / 124th pick / 2015
4,Mario Alford\AlfoMa00,WR,West Virginia,College Stats,5-8,180,4.43,34.0,13.0,121.0,6.64,4.07,Cincinnati Bengals / 7th / 238th pick / 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,Jameis Winston\WinsJa00,QB,Florida St.,College Stats,6-4,231,4.97,28.5,NaN,103.0,7.16,4.36,Tampa Bay Buccaneers / 1st / 1st pick / 2015
318,Cam Worthy\WortCa00,WR,East Carolina,College Stats,6-2,211,4.59,NaN,12.0,NaN,NaN,NaN,NaN
319,Gabe Wright\WrigGa00,DT,Auburn,College Stats,6-3,300,5.07,26.5,34.0,100.0,7.73,4.56,Detroit Lions / 4th / 113th pick / 2015
320,T.J. Yeldon\YeldT.00,RB,Alabama,College Stats,6-1,226,4.61,36.0,22.0,117.0,7.19,4.22,Jacksonville Jaguars / 2nd / 36th pick / 2015
321,Zach Zenner,FB,South Dakota St.,NaN,5-11,223,4.60,41.0,25.0,121.0,7.08,4.14,NaN

In [271]:
c_2015 = c_2015.replace(np.nan,0)

In [272]:
player_fixed = c_2015.Player

In [273]:
player_fixed = player_fixed.str.split('\\', n = 1, expand = True)

In [274]:
c_2015['Name'] = player_fixed[0]

In [275]:
c_2015.drop(columns=['Player'], inplace = True)

In [276]:
c_2015.columns = ['Pos', 'School', 'College', 'Ht', 'Wt', 'Fourty_yd', 'Vertical', 'Bench',
       'Broad_jump', 'Three_cone', 'Shuttle', 'Drafted', 'Name']

In [277]:
c_2015['Total'] = c_2015.Fourty_yd + c_2015.Vertical + c_2015.Bench + c_2015.Broad_jump + c_2015.Three_cone

In [278]:
draft = c_2015.Drafted

In [279]:
draft = draft.str.split(' / ', n=4,expand = True)

In [280]:
draft

                        0    1           2     3
0           Detroit Lions  2nd   54th pick  2015
1     Philadelphia Eagles  1st   20th pick  2015
2          Miami Dolphins  5th  149th pick  2015
3    Tampa Bay Buccaneers  4th  124th pick  2015
4      Cincinnati Bengals  7th  238th pick  2015
..                    ...  ...         ...   ...
317  Tampa Bay Buccaneers  1st    1st pick  2015
318                   NaN  NaN         NaN   NaN
319         Detroit Lions  4th  113th pick  2015
320  Jacksonville Jaguars  2nd   36th pick  2015
321                   NaN  NaN         NaN   NaN

[322 rows x 4 columns]

In [281]:
c_2015['Round'] = draft[1]

In [282]:
c_2015['Pick'] = draft[2]

In [283]:
c_2015_new = c_2015[['Name','Pos','Fourty_yd','Vertical','Bench','Broad_jump','Shuttle','Total','Round','Pick']]

In [284]:
c_2015_new

,Name,Pos,Fourty_yd,Vertical,Bench,Broad_jump,Shuttle,Total,Round,Pick
0,Ameer Abdullah,RB,4.60,42.5,24.0,130.0,3.95,207.89,2nd,54th pick
1,Nelson Agholor,WR,4.42,0.0,12.0,0.0,0.00,16.42,1st,20th pick
2,Jay Ajayi,RB,4.57,39.0,19.0,121.0,4.10,190.67,5th,149th pick
3,Kwon Alexander,OLB,4.55,36.0,24.0,121.0,4.20,192.69,4th,124th pick
4,Mario Alford,WR,4.43,34.0,13.0,121.0,4.07,179.07,7th,238th pick
...,...,...,...,...,...,...,...,...,...,...
317,Jameis Winston,QB,4.97,28.5,0.0,103.0,4.36,143.63,1st,1st pick
318,Cam Worthy,WR,4.59,0.0,12.0,0.0,0.00,16.59,NaN,NaN
319,Gabe Wright,DT,5.07,26.5,34.0,100.0,4.56,173.30,4th,113th pick
320,T.J. Yeldon,RB,4.61,36.0,22.0,117.0,4.22,186.80,2nd,36th pick
321,Zach Zenner,FB,4.60,41.0,25.0,121.0,4.14,198.68,NaN,NaN

In [285]:
#strip text out of round column
new_rnd = c_2015_new.Round
new_rnd = new_rnd.str.split('s', n=1, expand = True)
new_rnd = new_rnd[0]
new_rnd = new_rnd.str.split('n', n=1, expand = True)
new_rnd = new_rnd[0]
new_rnd = new_rnd.str.split('r', n=1, expand = True)
new_rnd = new_rnd[0]
new_rnd = new_rnd.str.split('t', n=1, expand = True)
new_rnd = new_rnd[0]
c_2015_new.Round = new_rnd

In [286]:
#strip text out of pick column
new_pick = c_2015_new.Pick
new_pick = new_pick.str.split('s', n=1, expand = True)
new_pick = new_pick[0]
new_pick = new_pick.str.split('n', n=1, expand = True)
new_pick = new_pick[0]
new_pick = new_pick.str.split('r', n=1, expand = True)
new_pick = new_pick[0]
new_pick = new_pick.str.split('t', n=1, expand = True)
new_pick = new_pick[0]
c_2015_new.Pick = new_pick

In [287]:
c_2015_new

,Name,Pos,Fourty_yd,Vertical,Bench,Broad_jump,Shuttle,Total,Round,Pick
0,Ameer Abdullah,RB,4.60,42.5,24.0,130.0,3.95,207.89,2,54
1,Nelson Agholor,WR,4.42,0.0,12.0,0.0,0.00,16.42,1,20
2,Jay Ajayi,RB,4.57,39.0,19.0,121.0,4.10,190.67,5,149
3,Kwon Alexander,OLB,4.55,36.0,24.0,121.0,4.20,192.69,4,124
4,Mario Alford,WR,4.43,34.0,13.0,121.0,4.07,179.07,7,238
...,...,...,...,...,...,...,...,...,...,...
317,Jameis Winston,QB,4.97,28.5,0.0,103.0,4.36,143.63,1,1
318,Cam Worthy,WR,4.59,0.0,12.0,0.0,0.00,16.59,NaN,NaN
319,Gabe Wright,DT,5.07,26.5,34.0,100.0,4.56,173.30,4,113
320,T.J. Yeldon,RB,4.61,36.0,22.0,117.0,4.22,186.80,2,36
321,Zach Zenner,FB,4.60,41.0,25.0,121.0,4.14,198.68,NaN,NaN

In [288]:
c_2015_new.Round = c_2015_new.Round.astype(float)
c_2015_new.Pick = c_2015_new.Pick.astype(float)
c_2015_new = c_2015_new.sort_values(by=['Round', 'Pick'])

In [290]:
round_1 = c_2015_new.sort_values(by=['Round', 'Pick'])

In [291]:
overall_pick = round_1.Pick
overall_pick.reset_index(drop=True,inplace=True)
overall_pick.reset_index()
c_2015_new['Overall_pick'] = overall_pick.index + 1
c_2015_new

,Name,Pos,Fourty_yd,Vertical,Bench,Broad_jump,Shuttle,Total,Round,Pick,Overall_pick
317,Jameis Winston,QB,4.97,28.5,0.0,103.0,4.36,143.63,1.0,1.0,1
199,Marcus Mariota,QB,4.52,36.0,0.0,121.0,4.11,168.39,1.0,2.0,2
61,Amari Cooper,WR,4.42,33.0,0.0,120.0,3.98,164.13,1.0,4.0,3
264,Brandon Scherff,OT,5.05,0.0,23.0,0.0,0.00,28.05,1.0,5.0,4
310,Leonard Williams,DT,4.97,29.5,0.0,106.0,4.53,148.06,1.0,6.0,5
...,...,...,...,...,...,...,...,...,...,...,...
307,Jermaine Whitehead,FS,4.59,37.0,15.0,128.0,4.11,191.54,NaN,NaN,318
313,Trey Williams,RB,4.49,33.5,18.0,119.0,4.12,181.83,NaN,NaN,319
315,Julian Wilson,CB,4.58,36.0,0.0,125.0,4.22,172.52,NaN,NaN,320
318,Cam Worthy,WR,4.59,0.0,12.0,0.0,0.00,16.59,NaN,NaN,321
321,Zach Zenner,FB,4.60,41.0,25.0,121.0,4.14,198.68,NaN,NaN,322

In [292]:
c_2015 = c_2015_new

In [293]:
c_2015.reset_index(drop=True,inplace=True)

In [295]:
c_2015.to_csv('2015_draft_order', index=False)

In [296]:
c_2015

,Name,Pos,Fourty_yd,Vertical,Bench,Broad_jump,Shuttle,Total,Round,Pick,Overall_pick
0,Jameis Winston,QB,4.97,28.5,0.0,103.0,4.36,143.63,1.0,1.0,1
1,Marcus Mariota,QB,4.52,36.0,0.0,121.0,4.11,168.39,1.0,2.0,2
2,Amari Cooper,WR,4.42,33.0,0.0,120.0,3.98,164.13,1.0,4.0,3
3,Brandon Scherff,OT,5.05,0.0,23.0,0.0,0.00,28.05,1.0,5.0,4
4,Leonard Williams,DT,4.97,29.5,0.0,106.0,4.53,148.06,1.0,6.0,5
...,...,...,...,...,...,...,...,...,...,...,...
317,Jermaine Whitehead,FS,4.59,37.0,15.0,128.0,4.11,191.54,NaN,NaN,318
318,Trey Williams,RB,4.49,33.5,18.0,119.0,4.12,181.83,NaN,NaN,319
319,Julian Wilson,CB,4.58,36.0,0.0,125.0,4.22,172.52,NaN,NaN,320
320,Cam Worthy,WR,4.59,0.0,12.0,0.0,0.00,16.59,NaN,NaN,321
321,Zach Zenner,FB,4.60,41.0,25.0,121.0,4.14,198.68,NaN,NaN,322